<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.stock.mapper.StockMoneyMapper">
    
    <resultMap type="StockMoney" id="StockMoneyResult">
        <result property="id"    column="id"    />
        <result property="accountId"    column="account_id"    />
        <result property="date"    column="date"    />
        <result property="total"    column="total"    />
        <result property="available"    column="available"    />
        <result property="balance"    column="balance"    />
        <result property="market"    column="market"    />
        <result property="withdraw"    column="withdraw"    />
        <result property="netValue"    column="net_value"    />
        <result property="maxDrawdown"    column="max_drawdown"    />
        <result property="increase"    column="increase"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectStockMoneyVo">
        select id, account_id, date, total, available, balance, market, withdraw, net_value, max_drawdown, increase, create_time from stock_money
    </sql>

    <select id="selectStockMoneyList" parameterType="StockMoney" resultMap="StockMoneyResult">
        <include refid="selectStockMoneyVo"/>
        <where>  
            <if test="accountId != null "> and account_id = #{accountId}</if>
            <if test="params.beginDate != null and params.beginDate != '' and params.endDate != null and params.endDate != ''"> and date between #{params.beginDate} and #{params.endDate}</if>
        </where>
    </select>
    
    <select id="selectStockMoneyById" parameterType="Long" resultMap="StockMoneyResult">
        <include refid="selectStockMoneyVo"/>
        where id = #{id}
    </select>
    <select id="queryIncrease" resultType="java.lang.Double">
        select increase from stock_money where account_id =#{accountId} and date between #{startDate} and #{endDate} and increase is not null
    </select>

    <insert id="insertStockMoney" parameterType="StockMoney" useGeneratedKeys="true" keyProperty="id">
        insert into stock_money
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="accountId != null">account_id,</if>
            <if test="date != null">date,</if>
            <if test="total != null">total,</if>
            <if test="available != null">available,</if>
            <if test="balance != null">balance,</if>
            <if test="market != null">market,</if>
            <if test="withdraw != null">withdraw,</if>
            <if test="netValue != null">net_value,</if>
            <if test="maxDrawdown != null">max_drawdown,</if>
            <if test="increase != null">increase,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="accountId != null">#{accountId},</if>
            <if test="date != null">#{date},</if>
            <if test="total != null">#{total},</if>
            <if test="available != null">#{available},</if>
            <if test="balance != null">#{balance},</if>
            <if test="market != null">#{market},</if>
            <if test="withdraw != null">#{withdraw},</if>
            <if test="netValue != null">#{netValue},</if>
            <if test="maxDrawdown != null">#{maxDrawdown},</if>
            <if test="increase != null">#{increase},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateStockMoney" parameterType="StockMoney">
        update stock_money
        <trim prefix="SET" suffixOverrides=",">
            <if test="accountId != null">account_id = #{accountId},</if>
            <if test="date != null">date = #{date},</if>
            <if test="total != null">total = #{total},</if>
            <if test="available != null">available = #{available},</if>
            <if test="balance != null">balance = #{balance},</if>
            <if test="market != null">market = #{market},</if>
            <if test="withdraw != null">withdraw = #{withdraw},</if>
            <if test="netValue != null">net_value = #{netValue},</if>
            <if test="maxDrawdown != null">max_drawdown = #{maxDrawdown},</if>
            <if test="increase != null">increase = #{increase},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteStockMoneyById" parameterType="Long">
        delete from stock_money where id = #{id}
    </delete>

    <delete id="deleteStockMoneyByIds" parameterType="String">
        delete from stock_money where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <delete id="deleteByAccountIdAndDate">
        delete from stock_money where account_id = #{accountId} and  `date` = DATE_FORMAT(#{date} , '%Y-%m-%d')
    </delete>

</mapper>